.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 10px 20px;
    height: auto;
}

.logo {
    /* font-weight: bold; */
    font-size: 20px;
    font-family: zen dots;
    color: white;
    transition: 0.3s;
}

.logo:hover {
    color: #DAA520;
    text-decoration: none;
}

.nav-links-desktop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: zen dots;
}

.nav-links-desktop li {
    padding: 0 10px;
}

.nav-links-desktop a,
.nav-links-mobile a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links-desktop a:hover,
.nav-links-mobile a:hover {
    color: #DAA520;
}

.nav-links-desktop a.active{
    color: #DAA520;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 80%;
    list-style: none;
    padding: 0;
}

.nav-links-mobile li{
    border-bottom: solid 1px #787872;
    padding-bottom: 1.2rem;
}

.hamburger,
.close {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.close{
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}

.flex{
    display: flex;
}

#header2 {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header2 li {
    margin-right: 15px;
}

#header2 a {
    color: #fff;
    text-decoration: none;
    font-family: 'zen dots', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

#header2 a:hover {
    color: #DAA520;
}