@media (max-width: 768px) {
    html{
        font-size: 12px;
    }

    .nav-links-desktop {
        display: none;
    }

    .hamburger {
        display: block;
    }
    /* .artwashcar,
    input[type="search"] {
        display: inline-block;
        margin: 0 auto;
    } */

}