@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: stretch;
    }

    .menu {
        margin-bottom: 10px;
    }

    .menu input[type="search"] {
        width: 100%;
        max-width: 250px;
    }

    .menu ul {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        text-align: center; 
    }

    .categorias ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .categorias ul li {
        margin-bottom: 10px;
    }
}